CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
dtdbin
generate
libxsdcxx-musicxml.so
libxsdcxx-musicxml.so.0
libxsdcxx-musicxml.so.0.1
libxsdcxx-musicxml-static.a
musicxml.hpp
musicxml.ipp
musicxml-dtd.hpp
musicxml-*.cpp
musicxml-schema.hpp
partwise
timewise
xlink.cpp
xlink.hpp
xlink.ipp
xml.cpp
xml.hpp
xml.ipp
xsdbin
